<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/nav.css">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
  <style>
     .profile{
        justify-content: flex-start !important;
        padding-top: 4vh;
     }
     #mf{
        display: none;
     }
  </style>
<body>
    <form id="mf" action="/uploadphotu" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">single
                files input example</label>
            <input id="pfile" name="filenames" class="form-control" type="file" id="formFileMultiple" >
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    
        </form>
    <div id="primg_user">
          <div class="upimg">
               <img src="../images/uploads/userimages/<%= user.userProfileimg %>" alt="">
          </div>
          <i id="user-profile-edit-btn" class="ri-pencil-fill"></i>
    </div>
    <div id="edit_form">
        <div class="ed_top">
            <h6>Edit Details</h6>
            <i id="close" class="ri-close-fill"></i>
        </div>
        <h6 style="margin-left: 2vmax;font-size: 1.4vmax;margin-top: 1vmax;">Please fill in the information below:</h6>
        <form action="/update" method="post">
            <div class="name">
                <div class="mb-3">
                    <input value="<%= user.name %>" name="firstname" placeholder="First name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <input value="<%= user.lastname %>" name="lastName" placeholder="Last name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
            </div>
            <div class="mb-3">
                <input value="<%= user.contactnumber %>" name="phoneNumber" placeholder="Phone number" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input required="" value="<%= user.Address1 %>"  name="Add1" placeholder="Address 1" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input value="<%= user.Address2 %>" name="Add2" placeholder="Address 2" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="name">
                <div class="mb-3">
                    <input value="<%= user.City %>"  name="city" placeholder="City" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <input value="<%= user.Zipcode %>"  name="zp" placeholder="Zip code" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save details</button>
          </form>
    </div>
    <% include ./partials/nav.ejs %>
    <div id="main">
        <div class="header">
            <div id="hoverimg" class="user_img">
               <img src="../images/uploads/userimages/<%= user.userProfileimg %>" alt="">
            </div>
            <div class="opt">
                <div onclick="window.location.href='/orders'" class="op">
                    <h6>Orders</h6>
                    <div style="opacity: 0;" class="ol"></div>
                </div>
                <div class="op">
                    <h6 style="color: #111;">Address</h6>
                    <div class="ol"></div>
                </div>
            </div>
           <div style="display: flex;
           align-items: center;gap: 2vmax;" class="rl">
                <% if(user.Admin === true){ %>
                        <h6 onclick="window.location.href='/addproduct'">Add Product</h6>
                        <h6 onclick="window.location.href='/ourproduct'">Our Products</h6>
                <% } %>
                <h6 onclick="window.location.href='/logout'">Logout</h6>
           </div>
        </div>
        <div class="profile">
            <div class="information">
                <div class="pattern">
                    <h6>Name</h6>
                    <h6>Email</h6>
                    <h6>Contect No</h6>
                    <h6>Zip code</h6>
                    <h6>Address 1</h6>
                    <h6>Address 2</h6>
                </div>
                <div class="data">
                    <h6>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= user.name %>&nbsp; <%= user.lastname %></h6>
                    <h6>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.email %></h6>
                    <h6>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.contactnumber %></h6>
                    <p>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.Zipcode %></p>
                    <p>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.Address1 %></p>
                    <p>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.Address2 %></p>

                    <div class="buttons">
                        
                            <div id="edit1" style="padding-left: 3vmax;" class="btnn">
                                <h6>Edit</h6>
                                <div class="pl"></div>
                            </div>
                            <div class="btnn">
                                <h6>Delete</h6>
                                <div class="pl"></div>
                            </div>                        
                    </div>
                </div>
            </div>
            <div id="edit" class="nbutton">Add Address</div>

        </div>
    <% include ./partials/footer.ejs %>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="../javascripts/profile.js"></script>
    <script>
          document.querySelector("#user-profile-edit-btn")
        .addEventListener("click",function(){
          document.querySelector("#pfile").click();

        })
        document.querySelector("#pfile").addEventListener("change",function(){
           document.querySelector("#mf").submit();
        })
    </script>
</body>

</html>